@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f8f8fc;
  font-family: "Rubik", sans-serif;
}

.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.card__container {
  display: grid;
  gap: 5rem;
}

.card__item {
  padding: 2.5rem;
  text-align: center;
  border: 2px solid #272a3a;
  overflow: hidden;
  background: #fff;
  transition: 0.2s ease-in-out;
  z-index: 999;
}

.card__item:hover {
  box-shadow: 3px 3px #000;
  transition: 0.2s ease-in-out;
}
.card__img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.card__text {
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
}

.card__title {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.card__profession {
  font-size: 0.75rem;
  font-weight: 400;
  margin-bottom: 0.25rem;
}

.card__icon-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 1.4rem;
  cursor: pointer;
  margin-top: 1.5rem;
}

.card__icon-container ion-icon {
  color: #8a8eaa;
  transition: 0.2s ease-in-out;
}

.card__icon-container ion-icon:hover {
  color: #272a3a;
  transition: 0.2s ease-in-out;
}
.sortable-drag {
  opacity: 0;
}

.card__icon-container ion-icon:nth-child(1) {
  transition: 0.2s;
}
.card__icon-container ion-icon:nth-child(2) {
  transition: 0.5s;
}
.card__icon-container ion-icon:nth-child(3) {
  transition: 0.7s;
}

.card__item:hover .card__icon-container ion-icon {
  transform: translateY(1rem);
}

@media screen and (min-width: 568px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 931px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  .card__container {
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    gap: 1.5rem;
  }
}
